/* =========================================================================
  #LAYOUT:HEADER
============================================================================*/

.l-header {
  border-bottom: 1px solid map-get($colors , "border-color");
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color:  map-get($colors , "body-color");
}