/* =========================================================================
  #BASE:ELEMENTS
============================================================================*/

// @see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
// @see https://www.nicchan.me/blog/tips-for-focus-styles/#consider-adding-a-little-bit-of-breathing-room

html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  outline-offset: 0.25rem;
}


* {
  margin: 0;
  padding: 0;
}


body {
  font: map-get($font-weight, 'dm-regular') 100% 'DM Sans', sans-serif;
  background-color: map-get($colors, 'body-color');
  color: map-get($colors, 'text-color');
  -webkit-font-smoothing: antialiased;
}


main {
  margin-top: $global-header-height;
}


h1 {
  font: map-get($font-weight, 'poppins-bold') 1.875rem 'Poppins', sans-serif;
  color: map-get($colors, 'title-color');
  -webkit-font-smoothing: auto;
}


img {
  max-width: 100%;
  width: auto;
  height: auto;
}
